* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img4  {
    width: 416px;
    height: 416px;
}

.img5  {
    width: 416px;
    height: 416px;
}

.img {
    padding: 20px 0 20px 0;
}

.nav {
    color: rgb(99, 51, 51);
    text-align: center;
    background-color: #aba2a2;
    padding: 30px;
}

.container {
    text-align: center;
}

.footer {
    color: white;
    text-align: center;
    background-color: #615d5d;
    padding: 30px;
    margin-top: 20px;
}